---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header/Header.tsx";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import SegmentedControl from "../components/SegmentedControl/SegmentedControl";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const offers = [
    {
        name: "YouWish",
        image_url:
            "https://wlp.tcb-cdn.com/images/suppliers/large-logos/youwish_logo_04122018.png",
        cashback: "9,3 %",
        cashback_path: "/cashback/youwish",
    },
    {
        name: "ZOO",
        image_url:
            "https://wlp.tcb-cdn.com/images/suppliers/large-logos/zoo_large_logo_20032023.png",
        cashback: "6,2 %",
        cashback_path: "/cashback/zoo-trumfs",
    },
    {
        name: "Zooplus",
        image_url:
            "https://wlp.tcb-cdn.com/images/suppliers/large-logos/zooplus_logo_09102018.png",
        cashback: "2,3 %",
        cashback_path: "/cashback/zooplus",
    },
];
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header client:load />
        <main>
            <section>
                <h3>Dagens bevegelser</h3>
                <div class="todays">
                    {
                        offers.map((offer) => (
                            <Card class="card">
                                <img src={offer.image_url} alt={offer.name} />
                                <h4>{offer.name}</h4>
                                <p>{offer.cashback}</p>
                            </Card>
                        ))
                    }
                </div>
            </section>
            <section>
                <SegmentedControl options={["Prosent", "Kroner"]} client:load />
            </section>
        </main>
        <Footer />
    </body>
</html>

<style>
    main {
        min-height: 100vh;
    }

    .todays {
        padding: 1em;
        display: flex;
        gap: 1em;
    }

    .card {
        text-align: center;
    }

    img {
        mix-blend-mode: multiply;
    }
</style>
